<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Microblog</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
	<section class="NewPost">
		<form class="NewPost-form" action="" method="post">
			<h2 class="NewPost-title">NUEVO <span class="green-text">POST</span></h2>
			<div>
				<textarea class="NewPost-text" name="text" id="text" placeholder="Escribe un nuevo post."></textarea>
			</div>
			<div>
				<input class="NewPost-button" type="submit" value="Enviar">
			</div>
		</form>
	</section>
	<section class="Posts">
		<article class="Post-item">
			<h2 class="Post-user">Alberto Cruz</h2>
			<p class="Post-date">18/09/2014 12:52</p>
			<p class="Post-text">Hey, se agrego algo que hace una cosa que no me acuerdo. Por que no lo ven?</p>
		</article>
	</section>
</body>
</html>