@import 'normalize.styl'

body
	font-family 'Open Sans', sans-serif
	background-color #e9eaed

.NewPost
	margin 0px
	padding 0px
	text-align center
	overflow hidden
	background-color #4c4d4e
	
.NewPost-form
	display inline-block
	margin 0px
	min-width 400px
	padding .1em

.NewPost-text
	border 0px
	color white
	resize none
	min-height 55px
	width 400px
	padding 2px
	margin 2px
	background-color rgba(0,0,0,0.5)
	// background-color #e9eaed
	text-shadow none
	outline none
	&:focus
		background-color rgba(0,0,0,1)
			


.NewPost-button
	float right
	color white
	background-color rgba(26,188,156,1)
	border 0px
	margin 3px
	margin-top 0px
	transition .3s
	padding .5em
	&:hover
		background-color #000//#2a2b2c

.NewPost-title
	margin .2em
	font-size 1.5em
	color white
	// color #1abc9c

.green-text
	color rgb(26,188,156)